/* Style for INDEX.HTML */
:root {--primary-text-color: #212121;
    --basic-text-color:  #757575;
    --accent-text-color: #2196F3;
    --white-color-text:  #FFFFFF;
}


body {
    background-color: #FFFFFF;
    color: var(--basic-text-color); 

    font-family: Roboto, sans-serif; 
}

.logo {
    color: var(--accent-text-color); 
    font-family: Raleway, sans-serif;
    
}


.list {
    list-style: none;
}

/* Site-nav */
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current {
color: var(--accent-text-color);
}
/* Site-contact */
.site-contact .link {
    color: var(--primary-text-color); }

.site-contact .link:hover, 
.site-contact .link:focus {
    color: var(--accent-text-color); }

/* Button */
.button {
    color: var(--white-color-text);
    background-color: var(--accent-text-color);
}

/* Section-title */
.section-title {
    color: var(--primary-text-color);
}

/* Footer */
.site-contact .link {
color: var(--basic-text-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-text-color);
}

/* STYLES FOR PORTFOLIO.HTML */

.button-site {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}
.button-site .link:hover,
.button-site .link:focus {
   background-color: var(--accent-text-color);
   color: var(--white-color-text);
}

/* Cards */
.portfolio-title {
    color: var(--primary-text-color);
}















/* колір основного тексту #212121; */

/* колір вторічного кольору  #757575; */

/* білий колір #FFFFFF;  */

/*  акцентний колір  #2196F3; */

/* колір фону  #FFFFFF; */

/* колір фону вторічний #2F303A; */

